* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 30px 20px;
  color: #333;
  max-width: 480px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff7f7f;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* Accordion */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px 20px;
  position: relative;
  transition: border-color 0.3s ease;
}

.box.active {
  border-color: #ff7f7f;
  background-color: #f1e6e6;
}

.box.popular::before {
  content: "MOST POPULAR";
  position: absolute;
  top: -10px;
  right: 10px;
  background: #ff7f7f;
  color: #fff;
  font: bold 0.65rem Arial;
  padding: 4px 10px;
  border-radius: 4px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header input[type="radio"] {
  accent-color: #ff7f7f;
  transform: scale(1.2);
  cursor: pointer;
}

.header label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.header strong {
  font-size: 1.1rem;
}

.tag {
  background: #ff7f7f;
  color: #fff;
  font: bold 0.75rem Arial;
  padding: 2px 8px;
  border-radius: 6px;
  margin-left: 10px;
}

.price {
  font-weight: bold;
  font-size: 1rem;
  text-align: right;
  white-space: nowrap;
  margin-top: 10px;
}

.strike {
  font-size: 0.8rem;
  color: #ccc;
  text-decoration: line-through;
  margin-top: 2px;
}
.standard-price {
  font-size: 0.85rem;
  color: #888;
  font-weight: 500;
  margin-top: -10px;
  margin-left: 38px;
}

/* Content */
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin-top: 10px;
}

.box.active .content {
  max-height: 200px;
}

/* Dropdowns */
.dropdown-content {
  display: flex;
  gap: 61px;
  font: 600 0.85rem Arial;
  color: #666;
  margin-bottom: 8px;
  padding-left: 40px;
}

.dropdowns-content-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.dropdowns select {
  padding: 5px 10px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 80px;
}

/* Footer */
.delivery {
  color: #ff7f7f;
  font: bold 0.95rem Arial;
  margin-top: 20px;
  text-align: left;
}

.total {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
  margin-top: -38px;
}

/* Button */
.add-to-cart {
  display: block;
  width: 100%;
  margin-top: 30px;
  background: #ff7f7f;
  color: #fff;
  padding: 14px;
  font: bold 1rem Arial;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-to-cart:hover {
  background: #b9899e;
}
